.main_adjudicados {
    padding: 0px !important;
    margin-top: 120px;

    .section_1 {
        padding: 0px !important;
        height: 200px;
        background-image: url("../imgs/adjudicados/portada.jpg");
        background-size: cover;

        a {
            text-decoration: none;
        }
        >div {
            >span:first-of-type {
                font-size: 2rem;
                display: block;
                color: var(--color-1);
            }
        }
        div {
            padding: 20px;
            color: var(--color-1);

            .modelos {
                background-color: var(--color-1);
                width: 130px;
                height: 35px;
                color: var(--color-5);
                padding: 0px;
                font-size: .9rem;
            }

            .modelos:hover {
                background-color: var(--color-2);
                cursor: pointer;
                color: var(--color-1);
            }
        }
    }

    >div:first-of-type {
        background-color: var(--color-4);
        color: var(--color-1);
    }

    .section_2_adjudicados {
        h2 {
            color: var(--color-4);
        }
        /*
        >div:first-of-type {
            background-color: #a60c0c !important;

            .contenedor-ordenar {
                position: absolute; 
                top: 55px; 
                right: 0px; 
                opacity: 0;
                pointer-events: none;
                width: 140px;
                padding: 1rem;

                ul {
                    li {
                        list-style: none;
                    }
                }
            }
        }
        */

        div {
            div {
                .contenedor-autos-adjudicados {
                    border: var(--borde);
                    padding-bottom: 20px;

                    >div:last-of-type {
                        background-color: var(--color-4);
                        height: 40px;
                        cursor: pointer;
                        
                        a {
                            text-decoration: none;
                            color: var(--color-1);
                        }
                    }

                    div:last-of-type:hover {
                        background-color: var(--color-6);
                    }
                }
            }

            #verMas {
                background-color: #02539c;
                color: white;
                margin: 0;
                padding: 0.5rem;
                margin-top: -0.1rem;
                border: none;
                display: flex;
                justify-content: center;
            }
        }
    }
}