* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .1s linear;
}

//! Almaceno todos mis h2
:root {
    

    --fondo-1: #ff084e;
    --fondo-2: #b8b8b8;
    --fondo-3: #3a3a3a;

    --color-1: #ffffff;
    --color-2: #9f9f9f;
    --color-3: #3a3a3a;
    --color-4: #02539c;
    --color-5: #373737;
    --color-6: #033d71;
    --color-7: #000000;
    --color-8: #ebebeb;

    --borde: 1px solid rgba(128, 128, 128, 0.541);
}
